table {
    border-collapse:collapse;
}

/*Form Styling*/

legend {
    margin-bottom: 1rem;
}

input {
    display: block;
    margin-bottom: 2rem;
}

form {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid tomato;
}

fieldset,
legend {
    margin-bottom: 1rem;
}

fieldset input:last-of-type {
    margin-bottom: 1rem;
}

legend {
    font-size: 1.25;
}

.inline-input {
    display: inline;
}

button[type="submit"] {
    background-color: tomato;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}